/* main window */

/* Run button */
.run-button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-color: #28a745;
}

.run-button:hover {
    -fx-background-color: #218838;
}

/* Text area and text flow */
.text-area {
    -fx-text-fill: #333333;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.result-text-flow {
    -fx-font-family: 'Calibri';
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Menu bar */
.menu-bar {
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
}

/* Menu */
.menu {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Menu item */
.menu-item {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
    -fx-padding: 5px 10px;
}

.menu-item:hover {
    -fx-background-color: #b0b0b0;
}

.menu-item:focused {
    -fx-background-color: #b0b0b0;
    -fx-text-fill: #333333;
}

/* Left pane */
.left-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* tablesLabel */
.left-pane-label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px; /* maybe overriding font size for label */
    -fx-text-fill: #333333;
    -fx-padding: 0 0 10px 0;
}

/* TextFlow text children */
.text-flow Text {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
}
