/**
 * styles.css
 *
 * This stylesheet defines the visual appearance and layout of various UI components
 * in the application. It includes styles for panes, labels, buttons, text areas,
 * menus, and other UI elements to ensure a consistent look and feel across different
 * windows and dialogues.
 *
 * Key Styles:
 * - Pane Styles: Styling for anchor panes and split panes.
 * - Label Styles: Font and color settings for headers, text, labels, and hyperlinks.
 * - Button Styles: Appearance settings for different types of buttons, including hover
 *   and pressed states.
 * - Text Area Styles: Formatting for text areas, code areas, and text flow elements.
 * - Menu Styles: Styling for the application's menu bar and menu items.
 * - Background Styles: General background color settings for the application.
 *
 * This file ensures that the UI components adhere to the application's design guidelines,
 * providing a clean, modern, and user-friendly interface.
 */

@font-face {
    -fx-font-family: Calibri;
    src: url('../fonts/calibri-regular.ttf');
}

@font-face {
    -fx-font-family: Monospaced;
    src: url('../fonts/Monospace.ttf');
}

@font-face {
    -fx-font-family: Consolas;
    src: url('../fonts/Consolas.ttf');
}

/* Pane Styles */
.anchor-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.split-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent transparent #D3D3D3 transparent;
    -fx-border-width: 0 0 1px 0;
}

/* Label Styles */
.header-label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-text-fill: #2a2a2a;
    -fx-font-weight: bold;
    -fx-padding-bottom: 10px;
}

.text {
    -fx-font-family: 'Calibri';
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-wrap-text: true;
    -fx-padding-bottom: 10px;
}

.label, .value, .hyperlink {
    -fx-font-family: 'Calibri';
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
}

.value {
    -fx-text-fill: #555555;
}

.hyperlink {
    -fx-text-fill: #1a73e8;
    -fx-underline: true;
    -fx-alignment: center;
    -fx-padding: 0 2px;
}

.hyperlink:hover {
    -fx-text-fill: #0b5394;
}

.hyperlink:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #1a73e8;
}

.welcome-label .text {
    -fx-text-fill: #333333 !important;
    -fx-font-weight: bold !important;
    -fx-font-family: 'Calibri' !important;
    -fx-font-size: 24px !important; /* Adjusted to match FXML */
}

.welcome-sub-label .text {
    -fx-text-fill: #666666 !important;
    -fx-font-family: 'Calibri' !important;
    -fx-font-size: 18px !important; /* Adjusted to match FXML */
}

.status-message {
    -fx-font-size: 14px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #333333;
    -fx-padding: 10px;
    -fx-alignment: center;
}

/* Box Styles */
.info-box, .links-box {
    -fx-spacing: 10px;
}

.links-box {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

/* Button Styles */
.button {
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #c0c0c0;
}

.button:pressed {
    -fx-background-color: #a9a9a9;
    -fx-border-color: #808080;
    -fx-border-width: 1px;
}

.button-blue {
    -fx-background-color: #3574f0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #2d5fd0;
    -fx-border-width: 1px;
}

.button-blue:hover {
    -fx-background-color: #0056b3;
}

.button-blue:pressed {
    -fx-background-color: #004085;
    -fx-border-color: #076dd5;
    -fx-border-width: 1px;
}

.run-button {
    -fx-background-color: #28a745 !important;
    -fx-text-fill: white !important;
    -fx-font-size: 14px !important;
    -fx-padding: 10px 20px !important;
    -fx-background-radius: 5px !important;
    -fx-border-radius: 5px !important;
    -fx-border-color: #28a745 !important;
}

.run-button:hover {
    -fx-background-color: #218838 !important;
}

/* Text Area and Text Flow Styles */
.text-area, .result-text-flow, .left-pane {
    -fx-text-fill: #333333;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.code-area {
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.code-area .lineno {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #999999;
    -fx-alignment: center-right;
}

.code-area .current-line {
    -fx-background-color: #f0f0f0;
}

.code-area .red { -fx-fill: red; -fx-font-weight: bold; }
.code-area .yellow { -fx-fill: #DAA520; -fx-font-weight: bold; } /* Using gold for better visibility */
.code-area .cyan { -fx-fill: #0000CD; -fx-font-weight: bold; }
.code-area .magenta { -fx-fill: magenta; -fx-font-weight: bold; }
.code-area .green { -fx-fill: #228B22; -fx-font-weight: bold; } /* Using lime for better visibility */
.code-area .string { -fx-fill: #006400; -fx-font-weight: normal; } /* Dark green color for strings */

.code-area .paragraph-text {
    -fx-padding: 0 0 0 5px;
}

.code-area .paragraph-box:focused {
    -fx-background-color: #f0f0f0;
}

/* Table View Styles */
.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-color: #dcdcdc;
    /*-fx-border-width: 1px;*/
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 5px 0 5px 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #dcdcdc;
}

.table-view .column-header .label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center-left;
}

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #e6f2ff;
}

.table-view .table-cell {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-alignment: center-left;
    -fx-padding: 5px 8px 5px 8px;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb,
.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #dcdcdc;
    -fx-background-radius: 5em;
}

.table-view .scroll-bar:vertical .thumb:hover,
.table-view .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #c0c0c0;
}

/* Last row rounded corners at the bottom */
.table-row-cell:filled:selected .table-cell {
    -fx-background-color: #e6f2ff;
}

.table-row-cell:filled:selected:odd .table-cell {
    -fx-background-color: #e6f2ff;
}

.table-row-cell:filled:selected:focused .table-cell {
    -fx-background-color: #e6f2ff;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/* Menu Styles */
.menu-bar {
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
}

.menu, .menu-item, .left-pane-label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5px 10px;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #b0b0b0;
}

/* Background Styles */
.background-color {
    -fx-background-color: #f0f0f0;
}

/* Options Styles for Settings window */
.appearance-settings-HBox, .font-settings-HBox, .font-option-HBox {
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

.appearance-settings-HBox:hover, .font-settings-HBox:hover, .font-option-HBox:hover,
.appearance-settings-HBox:selected, .font-settings-HBox:selected, .font-option-HBox:selected {
    -fx-font-weight: bold;
    -fx-border-color: #d4e2ff;
    -fx-background-color: #d4e2ff;

}

.appearance-settings-HBox Label, .font-settings-HBox Label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.font-option-HBox Label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
}

.selected {
    -fx-border-color: #d4e2ff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #d4e2ff;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* First column of the table */
.first-column {
    -fx-padding: 0 0 0 10px;
}

/* Font classes */
.bold-font {
    -fx-font-weight: bold;
}

.monospaced-font {
    -fx-font-family: "Monospaced";
}

.calibri-font {
    -fx-font-family: "Calibri";
}

.consolas-font {
    -fx-font-family: "Consolas";
}


#consolas,  #consolas .text {
    -fx-font-family: 'Consolas';
}

#monospaced, #monospaced .text {
    -fx-font-family: 'Monospaced';
}

#calibri, #calibri .text {
    -fx-font-family: 'Calibri';
}

.font10, .font10 .text {
    -fx-font-size: 10px;
}
.font12, .font12 .text {
    -fx-font-size: 12px;
}
.font14, .font14 .text {
    -fx-font-size: 14px;
}
.font16, .font16 .text {
    -fx-font-size: 16px;
}
.font18, .font18 .text {
    -fx-font-size: 18px;
}
.font20, .font20 .text {
    -fx-font-size: 20px;
}
.font22, .font22 .text {
    -fx-font-size: 22px;
}
.font24, .font24 .text {
    -fx-font-size: 24px;
}
.font26, .font26 .text {
    -fx-font-size: 26px;
}
.font28, .font28 .text {
    -fx-font-size: 28px;
}
.font30, .font30 .text {
    -fx-font-size: 30px;
}
.font32, .font32 .text {
    -fx-font-size: 32px;
}
.font34, .font34 .text {
    -fx-font-size: 34px;
}
.font36, .font36 .text {
    -fx-font-size: 36px;
}
.font38, .font38 .text {
    -fx-font-size: 38px;
}
.font40, .font40 .text {
    -fx-font-size: 40px;
}
.font42, .font42 .text {
    -fx-font-size: 42px;
}





