/* Background Color */
.background-color {
    -fx-background-color: #f0f0f0;
}

/* welcome-label */
.welcome-label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/* welcome-sub-label */
.welcome-sub-label {
    -fx-text-fill: #666666;
    -fx-font-family: 'Calibri';
}

/* welcome-button */
.welcome-button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #333333;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.5, 0, 0);
}

.welcome-button:hover {
    -fx-background-color: #c0c0c0;
}

/* status-message */
.status-message {
    -fx-font-size: 14px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #333333;
    -fx-padding: 10px;
    -fx-alignment: center;
}
